/*/////////////////////////////////
         General Selectors
/////////////////////////////////*/
body {
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  background: black;
}

section {
  margin-top: 0;
}

a {
  color: white;
  text-decoration: none;
}

.slant {
  -webkit-transform: skewY(5deg);
     -moz-transform: skewY(5deg);
      -ms-transform: skewY(5deg);
          transform: skewY(5deg);
}

.reverseSlant {
  -webkit-transform: skewY(-5deg);
     -moz-transform: skewY(-5deg);
      -ms-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

/*/////////////////////////////////
           Fixed Logo
/////////////////////////////////*/
#fixedLogo {
  position: fixed;
  top: 30px;
  left: 25px;
  font-size: 30px;
  z-index: 1;
}

@media screen and (max-width:1140px) {
  #fixedLogo {
    display: none;
  }
}

/*/////////////////////////////////
           Navigation
/////////////////////////////////*/
nav {
  position: absolute;
  top: 0;
  right: 0;
}

#nav {
  list-style: none;
  padding-left: 0;
  float: right;
  margin: 0 auto;
}

nav li {
  float: left;
  width: 100px;
  padding-top: 15px;
  border-top: 5px solid black;
}

#nav li:hover {
  color: #6ACDAE;
}

a.active li{
  color: #6ACDAE;
  border-top: 5px solid #6ACDAE;
}

/*/////////////////////////////////
           Hero/Header
/////////////////////////////////*/
#hero {
  margin-top: 0;
  color: white;
  height: auto; /* 600 */
  text-align: center;
}

#hero h1 {
  padding: 280px 0;
  margin-top: 0;
  font-size: 40px;
}

@media screen and (max-width: 430px) {
  #hero h1 {
    font-size: 30px;
  }
}

/*/////////////////////////////////
        Main Content Section
/////////////////////////////////*/
#main {
  background: white;
  padding-top: 10%;
  text-align: center;
  height: 100%;
  font-size: 25px;
}

#main blockquote {
  width: 70%;
  margin: 0 auto;
  font-size: 18px;
}

@media screen and (max-width: 1140px) {
  #main blockquote {
    width: 90%;
  }
}

#vid {
  width: 70%;
  height: 500px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1216px) and (min-width: 757px) {
  #vid {
    width: 90%;
  }
}

@media screen and (max-width: 758px) and (min-width: 560px) {
  #vid {
    width: 90%;
    height: 400px;
  }
}

@media screen and (max-width: 561px) {
  #vid {
    width: 90%;
    height: 300px;
  }
}

.twitter-hashtag-button {
  margin: 50px 0;
}

/*/////////////////////////////////
          Form Section
/////////////////////////////////*/
#form {
  text-align: center;
  height: 400px;
  padding-top: 150px;
}

#form h2 {
  color: white;
  font-size: 30px;
}

#form h1 {
  color: #6ACDAE;
  font-size: 2.5em;
}

#form form {
  margin-top: 50px;
}

#form input {
  padding: 10px 30px;
  width: 60%;
  border: none;
  border-radius: 5px;
  height: 35px;
  font-size: 18px
}

#form button {
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background: #6ACDAE;
  color: white;
}

#form button:hover {
  background: #2FA581;
  cursor: pointer;
}

#form p {
  padding-top: 60px;
}

.sociocon {
  color: white;
  font-size: 50px;
  margin: 20px;
}

.sociocon:hover {
  color: #6ACDAE;
  cursor: url("../images/cursor.cur"), auto;
}

@media screen and (max-width: 686px) {

  #form button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  #form h1 {
    font-size: 30px;
  }

  #form h2 {
    font-size: 25px;
  }

}

@media screen and (max-width: 450px) {
  #form h1 {
    font-size: 20px;
  }

  #form h2 {
    font-size: 20px;
  }
}

/*/////////////////////////////////
            Shhhhhh
/////////////////////////////////*/
#svid {
  width: 100%;
  height: 735px;
}

/*/////////////////////////////////
            Footer
/////////////////////////////////*/
footer {
  margin-top: 0;
  overflow: auto;
  color: white;
  height: 200px;
}

#footerContent {
  padding-top: 50px;
  text-align: center;
}

#footerContent  a {
  color: #6ACDAE;
}
